
{%load static%}

    <nav class="navbarmain navbar navbar-expand-md p-4 ">
        {% comment %} bg-black  {% endcomment %}
        <div class="">
            <div class="row col-md-12  ">
            <ul class=" navbar-nav nav-underline   ">
                <li class="nav-item d-flex flex-row ulcustom">
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="{%url 'home' %}">Principal</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{%url 'add_categoria' %}">Agregar nueva categoria</a>
                </li> {% endcomment %}
                <li class="nav-item ">
                    <a class="nav-link text-white" href="{%url 'add_datos' %}">Agregar nuevos datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{%url 'cosas-ver' %}">Cosas por ver</a>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{%url 'imagen' %}">imagen</a>
                </li> {% endcomment %}
                {%if request.user.is_authenticated%}
                <li class="nav-item">
                    <a href="{%url 'logoutUser'%}" class="nav-link text-white">Logout</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{%url 'login'%}">Iniciar sesion </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{%url 'register'%}">Registrarse</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <form method="GET" action="{%url 'home' %}" class="d-flex flex-row">
                        <div class="container d-flex flex-row">
                            <i class="fi fi-rr-search  align-self-lg-center m-2"></i>
                            <input class="form-control me-2" type="text" name="search" placeholder="Buscar un elemento">
                        </div>
                    </form>
                </li>
                {%if request.user.is_authenticated%}
                <img class="profile_image"src="{{request.user.avatar.url}}" alt="">
                <a class="nav-link text-white" href="#">{{request.user.name}}</a>
            
                {%endif%}
            </li>
            </ul>
            </div>
        </div>

    </nav>
    <!-- <div class="col-3">
        <div class="">
            <form method="GET" action="{%url 'home' %}" class="d-flex flex-row">
                <div class="container d-flex flex-row">
                    <i class="fi fi-rr-search  align-self-lg-center m-2"></i>
                    <input class="form-control me-2" type="text" name="search" placeholder="Buscar un elemento">
                </div>
            </form>
        </div>
    </div> -->


