{%extends 'base.html'%}


{%block content%}
<div class="container-fluid row">
    <div class="col-6">
        <p>Por Finalizar</p>


{%csrf_token%}

<form action="" method="post">
<ul>
    {%for datos in dato%}
        {%if datos.done == True%}
            <li><input type="checkbox" value="clicked", name="c{{datos.id}} "checked>{{datos.name}}</li>
        {%else%}
            <li><input type="checkbox" value="clicked", name="c{{datos.id}} ">{{datos.name}}</li>
        {%endif%}  
    {%endfor%}
</ul>
</form>

<input class="btn btn-dark"type="submit" value="Guardar">

    </div>
</div>
{%endblock%}